.App {
  text-align: center;
  background-image: url(https://autentrip.com/assets/public/backgrounds/landing.jpg);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.active{
  color: black;
  font-Size: 12px
}
.link{
  color:black; 
  font-Size: 12px
}
.menu{
  margin:25px;
  font-Weight: bold
}
.menu-1{
  color: black;
}
.card-1{
  margin:50px;
  margin-top:550px; 
  font-weight: bold
}
.card-2{
  margin-bottom: 30px;
}
.btn-1{
  margin-top:570px;
  font-weight:bold
}
.footer{
  color: white;
}
.ikon{
  margin-right: 45px;
}
.text{
  text-align:center;
  color:white;
  margin-left:350px;
  margin-top:35px;
  margin-right:350px;
  font-size:12px
}
.text-center{
  color:white;
  margin-top:30px
}